body {
  background-color: #f0f0f0;
  color: #333;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333;
}

.todo-wrapper {
  background: #ffffff;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.todo-input-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.todo-input-item input,
textarea {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
  color: #333;
}

.todo-input-item select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
  background: #f9f9f9;
}

.primaryBtn {
  background: #007bff;
  padding: 10px;
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.secondaryBtn {
  background: #6c757d;
  padding: 10px;
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
}

.secondaryBtn.active {
  background: #007bff;
}

.todo-list {
  margin-top: 25px;
}

.todo-list-item {
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  margin-bottom: 10px;
  border-radius: 7px;
  border-left: 4px solid transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.icon,
.check-icon {
  margin-left: 20px;
  cursor: pointer;
  color: #6c757d;
}

.icon:hover,
.check-icon:hover {
  color: #333;
}

.edit__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.edit__wrapper input,
textarea,
select {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #ddd;
  color: #333;
}

.edit__wrapper .primaryBtn {
  margin-top: 10px;
  background: #007bff;
}

.priority-label {
  font-size: 0.75em;
  background: #007bff;
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  display: inline-block;
}

.high {
  border-left: 4px solid #dc3545;
}

.medium {
  border-left: 4px solid #ffc107;
}

.low {
  border-left: 4px solid #28a745;
}

.clearBtn {
  background: #dc3545;
  padding: 10px;
  border-radius: 7px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}
